.series_wrapper {
  margin-left: 200px;
}
.series_wrapper .column {
  float: left;
  width: 100%;
}
.series_wrapper .sidebar {
  float: left;
  width: 200px;
  margin-left: -200px;
}

@media only screen and (max-width : 640px) {
	.series_wrapper {
	  margin-left: 0;
	}
	.sidebar {
	  float:none;
	  background-color: #FFA;
	  margin-left: 0;
	  width: 100%;
	}

}